################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EVOptimizationAPI/.vs/EVOptimizationAPI/FileContentIndex/d1fa8c58-b334-41c3-9e04-c96fb4ab8f3e.vsidx
