################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EVOptimizationAPI/.vs/EVOptimizationAPI/FileContentIndex/d1fa8c58-b334-41c3-9e04-c96fb4ab8f3e.vsidx
/.vs
/EVOptimizationAPI/.vs/EVOptimizationAPI/v17/.suo
/EVOptimizationAPI/.vs/EVOptimizationAPI/v17/DocumentLayout.json
/EVOptimizationAPI/.vs
/EVOptimization/EVOptimization/obj
/EVOptimization/.vs/EVOptimization/FileContentIndex
/EVOptimization/.vs/EVOptimization/v17
/CoreLibrary/.vs/CoreLibrary
/CoreLibrary/CoreLibrary/obj/Debug/net8.0
/CoreLibrary/CoreLibrary/obj
/EVOptimization/.vs/EVOptimization/DesignTimeBuild/.dtbcache.v2
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.AssemblyInfoInputs.cache
/EVOptimizationAPI/EVOptimizationAPI/obj/project.assets.json
/EVOptimizationAPI/EVOptimizationAPI/obj/project.nuget.cache
/EVOptimizationAPI/EVOptimizationAPI/obj/EVOptimizationAPI.csproj.nuget.g.targets
/EVOptimizationAPI/EVOptimizationAPI/obj/EVOptimizationAPI.csproj.nuget.g.props
/EVOptimizationAPI/EVOptimizationAPI/obj/EVOptimizationAPI.csproj.nuget.dgspec.json
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.GlobalUsings.g.cs
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.GeneratedMSBuildEditorConfig.editorconfig
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.csproj.AssemblyReference.cache
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.assets.cache
/EVOptimization/EVOptimization/bin/Debug/net8.0
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.csproj.CoreCompileInputs.cache
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.csproj.FileListAbsolute.txt
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.MvcApplicationPartsAssemblyInfo.cache
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.sourcelink.json
/EVOptimizationAPI/EVOptimizationAPI/obj/Debug/net8.0/EVOptimizationAPI.AssemblyInfo.cs
