################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EVOptimizationAPI/.vs/EVOptimizationAPI/FileContentIndex/d1fa8c58-b334-41c3-9e04-c96fb4ab8f3e.vsidx
/.vs
/EVOptimizationAPI/.vs/EVOptimizationAPI/v17/.suo
/EVOptimizationAPI/.vs/EVOptimizationAPI/v17/DocumentLayout.json
/EVOptimizationAPI/.vs
/EVOptimization/EVOptimization/obj
/EVOptimization/.vs/EVOptimization/FileContentIndex
/EVOptimization/.vs/EVOptimization/v17
/CoreLibrary/.vs/CoreLibrary
/CoreLibrary/CoreLibrary/obj/Debug/net8.0
/CoreLibrary/CoreLibrary/obj
/EVOptimization/.vs/EVOptimization/DesignTimeBuild/.dtbcache.v2
*.bin
/EVOptimization/EVOptimization/bin/Debug/net8.0/EVOptimization.deps.json
/EVOptimization/EVOptimization/bin/Debug/net8.0/EVOptimization.dll
/EVOptimization/EVOptimization/bin/Debug/net8.0/runtimes
/EVOptimization/EVOptimization/bin/Debug/net8.0
/EVOptimizationAPI/EVOptimizationAPI/obj/Release/net8.0
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
